body {
    background-image: url("pstar.jpg");
    background-repeat: no-repeat;
    background-color: rgb(37, 7, 37);
    background-size: cover;
    font-family: 'Old Standard TT', serif;
}
/* ********************* breakpoint ********************** */



/* ********************* nav styles ********************** */
.main {
    margin-left: 5vw; 
    padding: 0px 10px;
  }

.vertical-menu {
    height: 100%;
    /* width: 5vw;  */
    position: fixed; 

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    border-right: solid thin #ECA72C;

  }
  
  .vertical-menu a {
    display: block;  
    text-decoration: none; 
  }

  .vertical-menu span {
    color: whitesmoke; 
    font-size: x-large;
    margin: 1.5vh 2vw;
  }
  
  .vertical-menu span:hover {
    color: rgb(108, 39, 148);
  }

  .centernav {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
  .bottomnav {
      margin-bottom: 3vw;
  }

  #melody{
      margin-top: 3vh;
      color:  #ECA72C ;
      font-size: xx-large;
      margin: 3vh 1vw 0vh 1.75vw;
  }

/* ********************** section styles ********************** */
h1 {
    color: whitesmoke;
    font-size: 5vw;
    letter-spacing: .3vw;
    text-decoration:underline #AC75D8;
    margin-bottom: 1vh;
}

h2 {
    color: whitesmoke;
    font-size: xx-large;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.heading {
    text-decoration:underline #AC75D8;
}

.section {
    height: 90vh;
}

#greeting, #skills {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5vh;
    margin-right: 5vw;
   
}

#skills {
    padding: 2vh;
    background-color:rgba(0, 0, 0, 0.4);
}

#about, #projects, #contact {
    margin-top: 2vh;
    padding: 3vh;
    margin-left: 3vw;
    max-width: 60%;
    background-color:rgba(0, 0, 0, 0.4);
}

#projects {
    max-width: 90%;
}

#contact {
    height: 40vh;
}

h3 {
    color: whitesmoke; 
    font-size: x-large;
    margin-top: 2vw;
}

#skills > h3 {
    max-width: 50vw;
    text-align: right;
}

.card {
    min-height: 70vh;
    margin-top: 5vh;
}

.button {
    border: solid thin #AC75D8;
    color: #AC75D8;
}

#firstcontact {
    color: #ECA72C;
    margin-top: 3vw;
    margin-right: 10vw;
    padding: 1vw;
    border: solid #ECA72C;
    letter-spacing: .5rem;
}

#firstcontact:hover {
    background-color: #AC75D8;
    color:whitesmoke;
}

#resumeImg {
    object-fit: contain;
    max-height: 80vh;
    width: auto;
    border: thin #ECA72C;
    margin: 0 auto;
}

.link{
    text-decoration: underline #ECA72C !important;
}

#resumeBody {
    display: flex;
    flex-direction: column;
}
  